<!DOCTYPE html>
<html> 
<head>
    <title>MakaChat</title>
    <link rel="shortcut icon" href="{% load static %}{% static 'images/favicon.ico' %}" type = "image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% load static %}{% static 'chatbot.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    {% block chat %}
    <div id="parent-container" style="display: flex;">
        <div id="options">
            <div class = "box">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" style = "font-size: 18px;"aria-expanded="false">
                      知識庫選項
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="dropdownMenu">
                      {% for i in knowledge_base_list %}
                      <li><a class="dropdown-item" style = "text-align: center;" href="/knowledge_chat/{{ i }}">
                        {{ i }}
                      </a></li>
                      {% endfor %}
                    </ul>
                </div>
            </div>

            {% if upload %}
            <div class = "box">
                <div id="loadingScreen2" style="display: none;">
                    <div class="spinner-border text-info" role="status">
                      <span class="sr-only"></span>
                    </div>
                    <div class="loading-text" style="color: #17a2b8;">
                      啾都嘛得...
                    </div>
                </div>

                <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data" class="submitbutton" id="up2">
                    {% csrf_token %}
                    <label  style="font-weight: bold; font-size: 18px ; text-align: center;" for="knowledgeBaseName">欲加入知識庫名稱：</label>
                    <label  style="font-weight: bold; font-size: 16px ; text-align: center; margin-bottom: 10px;" for="knowledgeBaseName">(知識庫名稱請輸入英文)</label>
                    <input style="margin-bottom: 20px;" type="text" name="knowledge_base_name" autocomplete="off" id="knowledgeBaseName" required>
                    <label  style="font-weight: bold; font-size: 18px ; text-align: center; margin-bottom: 10px;" for="knowledgeBaseName">請選擇欲加入知識庫的文件：</label>
                    <input class="form-control" type="file" id="formFileMultiple" name="files" multiple />
                    <button type="submit" id="subbutton">提交</button>
                </form>
            </div>
            {% endif %}

            {% if show_file_upload %}
            {% if data_list %}
            <div class = "box">
                <form id = "data" action="{% url 'delete_files' knowledge_base %}" method="post">
                    {% csrf_token %}
                    <ul class="list-group">
                      <label for="formFileMultiple" class="form-label" style="font-weight: bold; font-size: 18px ; text-align: center;">文件列表：</label>
                      {% for j in data_list %}
                      <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" name="file_to_delete" value="{{ j }}" aria-label="...">
                        {{ j }}
                      </li>
                      {% endfor %}
                    </ul>
                      <button type="submit" id="subbutton">刪除選定文件</button>
                </form>
            </div>
            {% endif %}

            <div class = "box">
                <label for="formFileMultiple" class="form-label" style="font-weight: bold; font-size: 18px; align-items: center;">上傳文件至知識庫：</label>

                <div id="loadingScreen" style="display: none;">
                    <div class="spinner-border text-primary" role="status">
                      <span class="sr-only"></span>
                    </div>
                    <div class="loading-text" style="color: #007bff;">
                      修但幾勒...
                    </div>
                </div>

                <form action="{% url 'upload_files' knowledge_base %}" method="post" enctype="multipart/form-data" class="submitbutton" id="up">
                    {% csrf_token %}
                    <input class="form-control" type="file" id="formFileMultiple" name="files" multiple />
                    <button type="submit" id="subbutton">提交</button>
                </form>
            </div>
            {% if knowledge_base == "Dakin" %}
            <div class = "box">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" style = "font-size: 18px;"aria-expanded="false">
                      新人常見問題
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="dropdownMenu">
                      <div id="preset-questions">
                        <button>聚陽的大家長－Frank 周先生的分機號碼多少？</button>
                        <button>要怎麼描述聚陽這家企業？</button>
                        <button>聚陽的核心經營想法與內容是什麼？</button>
                        <button>聚陽的彈性工時制內容是什麼？</button>
                        <button>若門禁卡設定有任何問題，要請教誰？</button>
                        <button>聚陽的福利除了穿的暖暖還有什麼？</button>
                        <button>聚陽人的誠信、團隊、分享體現在哪裡？</button>
                        <button>實習兩個月的薪資會於何時發放？</button>
                        <button>健檢檢查前要準備什麼？</button>
                        <button>薪資相關的注意事項包括？</button>
                    </div>
                    </ul>
                </div>
            </div>
            {% endif %}
            <div class = "box">
                <!--onsubmit = "return confirmDelete()" -->
                <form id="deleteForm" action="{% url 'delete_base' knowledge_base %}" method="post"   > 
                    {% csrf_token %}
                    <button type="submit" id="delbutton" style="font-size: 18px;" onclick="confirmDelete(event);">刪除當前知識庫</button> 
                </form>
                <!-- <a href="/chatbot/" class="btn btn-primary" id = "redirbutton">回初始畫面</a> -->
                <a href="/chatbot/" id="redirbutton"><img src="{%static 'images/home.png' %}" alt="回初始畫面"></a>
            </div>
            {% endif %}
        </div>

        <div id="chatbot-container">

            <div id = "chatbot">
                <div id = "header">
                    <div class="row-wrap">
                      <div class="row-top">達</div>
                      <div class="row-middle">新</div>
                    </div>
                    <div class="row-wrap">
                      <div class="row-top">賴</div>
                      <div class="row-middle">人</div>
                    </div>
                    <div class="row-wrap">
                      <div class="row-top">喇</div>
                      <div class="row-middle">問</div>
                    </div>
                    <div class="row-wrap">
                      <div class="row-top">嘛</div>
                      <div class="row-middle">答</div>
                    </div>
                </div>

                <div id="chatlog">

                    <div class="chatbot-message">
                        <img src="{%static 'images/bot.png' %}" alt="Chatbot" class="message-avatar">
                        <p class="chatbot-text">👋有什麼可以幫忙的嗎？</p>
                    </div>
<!--                     <div class="spinner-grow text-success" role="status" id="chatbot-loader" style="display: none;">
                        <span class="sr-only"></span>
                    </div> -->
                </div>
<!--                 {% if knowledge_base == "Dakin" %}
                <div id="preset-questions">
                    <button style="background-color: #47b0c2;">若門禁卡設定有任何問題，要請教誰？</button>
                    <button style="background-color: #47b0c2;">聚陽的大家長－Frank 周先生的分機號碼多少？</button>
                    <button style="background-color: #47b0c2;">誠信、團隊、分享體現在哪裡？</button>
                    <button style="background-color: #47b0c2;">因應二代健保補充保費的規範，薪資發放怎麼調整？</button>
                </div>
                {% endif %} -->
                <form id="chat-form">

                    <message-container>
                    {% csrf_token %}
                        <input type="text" id="user-input" placeholder="有..什麼..可以..幫...忙的.嗎.." > <!--autocomplete="off"-->
                        <button type="submit" id="sendicon"></button>
                    </message-container>

                </form>

            </div>

        </div>
    </div>
    <script src="{% static 'chatbot.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {%endblock%}
    <script>
        let showFileUpload = {{ show_file_upload|lower }};
    </script>
<!--     <script>
        function confirmDelete() {
            return confirm("確定要刪除這個知識庫嗎？");
        }
    </script> -->
    <script>
        function confirmDelete(event) {
          // 阻止表單的原始提交
          event.preventDefault();

          Swal.fire({
            title: '確定要刪除本知識庫嗎？',
            text: "無法復原ㄛ",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: '是的，請刪除！'
          }).then((result) => {
            if (result.isConfirmed) {
              // 使用者確認刪除，提交表單
              document.getElementById('deleteForm').submit();
            }
          });
        }
    </script>
</body>
</html>
